<h2>Flight</h2>

<%= "Departure Airport: #{@flight.departure_airport.code}" %><br>
<%= "Arrival Airport: #{@flight.arrival_airport.code}" %><br>
<%= "Start: #{@flight.start.strftime("%m/%d/%Y %I:%M %p")}" %><br>
<%= "Duration: #{@flight.duration / 60} hrs" %>

<br>

<h2>Passengers</h2>

<p>Please, enter the personal information for each passenger:</p>

<%= form_with model: @booking, data: { controller: "passenger-fields" } do |form| %>
  <%= form.hidden_field :flight_id, value: @flight.id %>

  <ul data-passenger-fields-target="list">
    <%= form.fields_for :passengers do |sub_form| %>
      <%= render "shared/passenger_fields", form: sub_form %>
    <% end %>
  </ul>

  <div data-passenger-fields-target="addButton">
    <%= button_tag "Add Passenger", data: { action: "passenger-fields#addPassenger" } %>

    <br><br>
  </div>

  <%= tag.template data: { passenger_fields_target: "template" } do %>
    <%= form.fields_for :passengers, @booking.passengers.build do |sub_form| %>
      <%= render "shared/passenger_fields", form: sub_form %>
    <% end %>
  <% end %>

  <%= form.submit "Create Booking" %>
<% end %>
